<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="product" class="org.example.domain.Product">
        <constructor-arg index="0" value="101"/>
        <constructor-arg index="1" value="helmet"/>
        <constructor-arg index="2" value="200"/>
    </bean>
    <bean id="product2" class="org.example.domain.Product">
        <constructor-arg index="0" value="102"/>
        <constructor-arg index="1" value="gloves"/>
        <constructor-arg index="2" value="70"/>
    </bean>

</beans>